.contact-section {
    height: 700px;
    background-color: var(--c-orange-heavy);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px 0;
}


@media (max-width: 68.75rem) {
    .contact-section{
        height: auto;
        flex-direction: column-reverse;
    }
}

@media (max-width: 29.375rem) {
    .contact-section form{
        width: 90%;
    }
}