.section-ourserives {
/*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    width: 100%;
    padding: 30px 0;
/*Miscellaneous*/
    gap: 50px;
}

.our-services{
    max-width: 1400px;
    width: 80%;
    position: relative;
}

.container-services {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
/*Box model stuff*/
    width: 100%;  
/*Miscellaneous*/
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.Navigation-btn {
/*Positioning stuff*/
    position: absolute;
    top: 50%;
/*Box model stuff*/
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--c-orange-heavy);
/*Manipulations stuff*/
    transform: translateY(-50%);
/*Miscellaneous*/
    cursor: pointer;
}

.Navigation-btn-left {
    left: -70px;
}

.Navigation-btn-right {
    right: -70px;
}

.Navigation-btn svg{
/*Box model stuff*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
/*Typography stuff*/
    color: var(--c-white);
}

.service-box {
/*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
/*Box model stuff*/
    width: 300px;
    min-width: 300px;
    height: 530px;
    padding-bottom: 30px;
    border-radius: 20px;
    background-color: var(--c-orange-heavy);
/*Miscellaneous*/
    overflow: hidden;
}

.service-box img{
/*Box model stuff*/
    width: 100%;
    height: 200px;
/*Miscellaneous*/
    object-fit: cover;
}

.service-box .title-service {
/*Typography stuff*/
    font-size: 2rem;
    font-weight: 600;
    color: var(--c-white);
}

.service-box .descrip-service {
    width: 90%;
    color: var(--c-white);
    font-weight: 500;
}

.service-box span{
/*Box model stuff*/
    width: 90%;
    height: 3px;
    background-color: var(--c-white);
}

.service-box a{
/*Display stuff*/
    display: grid;
/*Box model stuff*/
    width: 150px;
    height: 35px;
    min-height: 35px;
    border-radius: 15px;
    background-color: var(--c-white);
/*Typography stuff*/
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: var(--c-orange-heavy);
/*Miscellaneous*/
    place-items: center;
}

@media (max-width: 44rem) {
    .Navigation-btn {
        display: none;
    }
}