.our-tecnology-section {
/*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    width: 100%;
    padding: 30px 0;
/*Miscellaneous*/
    gap: 50px;
}

.content-tecnology {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Miscellaneous*/
    gap: 30px;
}

.our-comp {
    flex-direction: row-reverse;
}

.tec-img-box {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    height: 31rem;
/*Miscellaneous*/
    gap: 30px;
}

.tec-img-box img {
    height: 100%;
    border-radius: 20px;
}

.tec-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tec-content-box {
/*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
/*Miscellaneous*/
    gap: 50px;
}

.tec-content-texts {
/*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
/*Miscellaneous*/
    gap: 10px;
}

.tec-content .tec-content-texts-title {
/*Typography stuff*/
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--c-orange-heavy);
}

.tec-content .tec-content-texts-descrip {
    color: var(--c-orange-heavy);
    font-size: 1rem;
    width: 400px;
}

.tec-content span {
    height: 50%;
}

.tec-content span svg {
    height: 35px;
    width: 35px;
    color: var(--c-orange-heavy);
}

@media (max-width: 75rem) {
    .content-tecnology {
        flex-direction: column;
        justify-content: flex-start;
    }

    .tec-content-box {
        height: auto;
        
        gap: 30px;
    }

    .tec-img-box img {
        width: 90%;
        object-fit: cover;
    }
}

@media (max-width: 29rem) {
    .tec-content .tec-content-texts-descrip {
        width: auto;
    }

    .tec-content-box {
        align-items: center;
    }

    .tec-img-box {
        width: 100%;
    }

    .tec-content {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}