.container-tag-title {
    width: 77%;
}

.tag-title-section {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: flex-start;   
/*Box model stuff*/
    width: 200px;
    height: 50px;
    padding-left: 35px;
    border-radius: 10px;
    background-color: #d9d9d9;
    position: relative;
}

.tag-title-section::before {
/*Display stuff*/
    content: "";
/*Positioning stuff*/
    position: absolute;
    left: 0;
/*Box model stuff*/
    width: 20px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-color: var(--c-orange);
}

.tag-title-section p{
    font-weight: 600;
}

@media (max-width: 47rem) {
    .container-tag-title {
        width: 95%;
    }
}